<!doctype html>
<html>
    <head>
        <title>django-starter</title>
        {% if debug %}
            <link rel="stylesheet/less" 
                href="{{ STATIC_URL }}style/base.less">
            <script type="text/javascript" 
                src="{{ STATIC_URL }}js/less-1.3.3.min.js">
            </script>
        {% else %}
            <link rel="stylesheet/css"
                href="{{ STATIC_URL }}style/base.css">
        {% endif %}
    </head>
    <body>
        <p>This is the base</p>
        {% block content %}
        {% endblock %}

        <script type="text/javascript" 
          src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
        </script>
    </body>
</html>
